<div class="chat">
  <div class="chat-a">
    <div class="room-name">room1</div>
    <div class="fin-button">
      <%= link_to "チャットを終了する", "" %>
    </div>
  </div>
  <div class="chat-b">
    <div class="chat-box">
      <div class="chat-small">
        <div class="chat-name">Ace</div>
        <div class="chat-date">2022/05/01</div>
      </div>
      <div class=chat-comment>こんにちは</div>
    </div>
    <div class="chat-box">
      <div class="chat-small">
        <div class="chat-name">Joker</div>
        <div class="chat-date">2022/05/01</div>
      </div>
      <div class=chat-comment>こんばんは</div>
    </div>
  </div>
  <div class="chat-c">
    <form class="form">
      <input type="text" placeholder="type a message" class="message-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </form>
    <input type="submit" value="送信" class="send">
  </div>
</div>